body {
  position: relative;
  min-height: 100vh;
}

html {
  line-height: 1.4rem;
}

a {
  color: #318ada;
}

.w-0 {
  width: 0;
}

.vh {
  visibility: hidden;
}

.vv {
  visibility: visible;
}

.shadow-right {
  box-shadow: 2px 0 3px -2px #888;
}

.shadow-bottom {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.brand-color {
  color: #318ada;
}

.bg-brand-color {
  background-color: #318ada;
}

.button-hover:after {
  bottom: 0;
  left: 50%;
  width: 0;
  position: absolute;
  background: #318ada;
  border-radius: 5px;
  content: "";
  transition: all 0.3s;
  transform: translateX(-50%);
  height: 0;
  opacity: 0;
}

.button-hover:hover:after{
  height: 2px;
  opacity: 1;
  width: 100%;
}

.paper-1 {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}

.paper-1-hover:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}

.paper-2 {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}

.right-center {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.table-of-contents ul {
  list-style: none;
}

.challenges {
  background: linear-gradient(to right, #3a7bd5, 60%, #00d2ff);
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  margin: 0 0 1.5rem 0;
}

.challenges a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.layout-content {
  padding-top: 11rem;
}

.positions-list {
  position: sticky;
  top: 4.5rem;
}

.positions-list > a:not(:last-child) {
  border-bottom: 1px solid #0000001c;
}

@media screen and (max-width: 960px) {
  .layout-content {
    padding-top: 4.5rem;
  }
}
