.f-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.w-0 {
  width: 0;
}

.vh {
  visibility: hidden;
}

.vv {
  visibility: visible;
}

.shadow-right {
  box-shadow: 2px 0 3px -2px #888;
}